@model MyMovies.Controllers.PaginatedList<MyMovies.Models.Movie>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;
@{
    ViewData["Title"] = "Index";
}

<h1>Movie Index</h1>

<p>
    @if (User.IsInRole("Admin"))//add role base stuff after finishing CRUD methods
    {
        <a asp-action="Create">Create New</a>
    }
</p>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>


<table class="table">
    <tbody>
        @foreach (var item in Model)
        { //have a web display for each item in db
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img class="img-thumbnail align-content-sm-center img-responsive" display="block" src="@item.Poster" />
                    </a>
                </td>
                <td>
                    <div class="col-sm-8 align-items-center">
                        <h3>@item.Title</h3>
                        <p>
                            <strong>Release Date:</strong> @item.Release
                        </p>
                        <p>
                            <strong>Genre:</strong> @item.Genre
                        </p>
                        <p>
                            <strong>Imdb Rating:</strong> @item.imdbRating
                        </p>
                        <p>
@*                             <strong>Director:</strong> @item.Directors. *@
                        </p>
                        <p>
                            <strong>Award:</strong> @item.Awards
                        </p>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table> 


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

@* <tbody>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> 
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Release Date</a>
            </th>
            <th>
                Genre
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RatingSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Rating</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) { //have a web display for each item in db
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                        @if (User.IsInRole("Admin")) //switch to role base when finished with CRUD method functions
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table> *@


