@model MyMovies.Controllers.PaginatedList<MyMovies.Models.Movie250>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;
@*using MyMovies.wwwroot.css.test*@
@{
    ViewData["Title"] = "Index";
}

<h1>Movie Index</h1>

<p>
    @if (User.IsInRole("Admin"))//add role base stuff after finishing CRUD methods
    {
        <a asp-action="Create">Create New</a>
    }
</p>

@foreach(var item in Model)
{
    <div class="" id="bright">
        <div class="">
            <div class="">
                <img class="col-sm-4" src=@item.Poster />
                <h1>@Html.DisplayFor(itemModel => item.Title)</h1>
                <h4>@Html.DisplayFor(itemModel => item.Year), @Html.DisplayFor(itemModel => item.Director)</h4>
                <span class="minutes">@Html.DisplayFor(itemModel => item.Runtime)</span>
                <p class="type">@Html.DisplayFor(itemModel => item.Genre)</p>
            </div>
            <div class="movie_desc">
                <p class="text">
                    @Html.DisplayFor(itemModel => item.Plot)
                </p>
            </div>
            <div class="movie_social">
                <ul>
                    <li><i class="material-icons">share</i></li>
                    <li><i class="material-icons"></i></li>
                    <li><i class="material-icons">chat_bubble</i></li>
                </ul>
            </div>
        </div>
        <div class="blur_back bright_back"></div>
    </div>

@*     <div class="col-sm-4">
        <img src="@item.Poster"/>
    </div> *@


}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>




@*
Old movie html page (backup incase new page fails)    

<tbody>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> 
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Release Date</a>
            </th>
            <th>
                Genre
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RatingSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Rating</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) { //have a web display for each item in db
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                        @if (User.IsInRole("Admin")) //switch to role base when finished with CRUD method functions
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
        


 *@